In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
plt.style.use('ggplot')
import scipy.stats as ss
import h5py

In [2]:
ticker = pd.read_hdf('ticker_price_moment_exit.hd5', key='df')

In [3]:
ticker.reset_index(inplace=True,drop=True)

In [5]:

ticker

,ticker,bidPrice,bidSize,askPrice,askSize,lastUpdated,lastSalePrice,lastSaleSize,lastSaleTime,volume,current_price,timestamp,news_id
0,VS,0.0,0.0,0.0,0.0,1629316800000.0,4.33,6.0,1629316790023,46.0,4.24,1629716406,0000d467d1a52a6a84fc8b30adbe8ec2
1,VSSYW,0.0,0.0,0.0,0.0,1628193600000.0,1.55,25.0,1628178157384,25.0,2.08,1629716406,0000d467d1a52a6a84fc8b30adbe8ec2
2,BTBT,0.0,0.0,0.0,0.0,1632513600000.0,9.44,1.0,1632513582057,38333.0,9.46,1632747622,0007ea6c22fc24e1f34021185ad07e4e
3,CAN,0.0,0.0,0.0,0.0,1632515322537,6.16,80.0,1632514484013,453506.0,6.11,1632747622,0007ea6c22fc24e1f34021185ad07e4e
4,HVBT,0.0,0.0,0.0,0.0,1631563200000.0,3.06,300.0,1631563186154,33347.0,3.06,1632747622,0007ea6c22fc24e1f34021185ad07e4e
...,...,...,...,...,...,...,...,...,...,...,...,...,...
52617,JPM,0.0,0.0,0.0,0.0,1631047663999,159.13,100.0,1631044796950.0,258640.0,159.21,1631054390,fff4b8ed7be91a56d2703f25a06bd4f0
52618,MTTR,21.94,100.0,22.08,237.0,1632238670527,21.95,100.0,1632238630365,23665.0,21.9734,1632238699,fff9f65e74a4907c93c23a3c4e823b76
52619,U,116.6,148.0,131.6,133.0,1632238669234,131.685,100.0,1632238642524,32645.0,131.6,1632238699,fff9f65e74a4907c93c23a3c4e823b76
52620,TME,0.0,0.0,0.0,0.0,1632170653213,7.42,100.0,1632167991795,783488.0,7.42,1632224324,fffbfefba454acb22058dffb2eb8636a
52621,WTRG,47.26,100.0,47.29,100.0,1632153529431,47.29,37.0,1632153499676,20136.0,47.29,1632153543,fffec5402f20c4b226367577864b0e16

In [7]:
targets = pd.read_hdf('targets.hd5', key='df')

ValueError: unsupported pickle protocol: 5

In [16]:
targets

       10_True_0.05                           news_id ticker
0               0.0  000fb4a135119a9cf49fe51f91e37add   SALM
1               0.0  000fda8be4442b6ffdcc247693075ffa    PCT
2               0.0  00183e71753b66ed27eb5a59886eed7d    RXT
3               0.0  008cc24b6c7b3411c1de52d6ab579c6c   ALYA
4               0.0  01305f2972f162fa8e0a64d910b7a113   SELB
...             ...                               ...    ...
36541           0.0  fe491b4f198930eb0e6e416bc354de6d   ZNGA
36542           0.0  fe491b4f198930eb0e6e416bc354de6d   TLRY
36543           0.0  feaaaaf873ede7a4cd3cadb4b1209689    RTX
36544           0.0  fec3a10580c1916219dbc55d91774100   RBAC
36545           0.0  fee8f1cb4e21c1b7c347bc44d7ba7d63   MNDT

[36546 rows x 3 columns]

In [17]:
targets['10_True_0.05'].value_counts()

0.0    36006
1.0      540
Name: 10_True_0.05, dtype: int64

In [18]:
dates = ['2021-08-12.hd5','2021-08-13.hd5','2021-08-16.hd5','2021-08-17.hd5','2021-08-18.hd5','2021-08-19.hd5','2021-08-20.hd5','2021-08-23.hd5','2021-08-24.hd5','2021-08-25.hd5','2021-08-26.hd5','2021-08-27.hd5','2021-08-30.hd5','2021-08-31.hd5','2021-09-01.hd5','2021-09-02.hd5','2021-09-03.hd5','2021-09-07.hd5','2021-09-08.hd5','2021-09-09.hd5','2021-09-10.hd5','2021-09-13.hd5','2021-09-14.hd5','2021-09-15.hd5','2021-09-16.hd5','2021-09-17.hd5','2021-09-20.hd5','2021-09-21.hd5','2021-09-22.hd5','2021-09-23.hd5','2021-09-24.hd5','2021-09-27.hd5','2021-09-28.hd5','2021-09-29.hd5','2021-09-30.hd5','2021-10-01.hd5','2021-10-04.hd5','2021-10-05.hd5','2021-10-06.hd5','2021-10-07.hd5','2021-10-08.hd5']

In [19]:
df = np.empty(len(dates),dtype = pd.DataFrame)

In [20]:
k = 0
for i in dates:
    df[k] = pd.read_hdf(i, key='df',errors = None)
    k += 1

In [21]:
df = pd.concat(df)

In [22]:
df.reset_index(inplace=True)

In [23]:
df.drop(columns= ['index'])

,open,high,close,low,volume,time,formated time,ticker,autofilled
0,35.2400,35.2400,35.2400,35.2400,4578.0,1628775000,2021-08-12 13:30:00+00:00,WMG,False
1,35.2400,NaN,35.2400,NaN,NaN,1628775060,2021-08-12 13:31:00+00:00,WMG,True
2,35.3200,35.3200,35.3200,35.3200,150.0,1628775120,2021-08-12 13:32:00+00:00,WMG,False
3,35.3200,NaN,35.3200,NaN,NaN,1628775180,2021-08-12 13:33:00+00:00,WMG,True
4,35.2639,35.2639,35.2100,35.1800,3029.0,1628775240,2021-08-12 13:34:00+00:00,WMG,False
...,...,...,...,...,...,...,...,...,...
19497005,15.7950,NaN,15.7950,NaN,NaN,1633732920,2021-10-08 22:42:00+00:00,DENN,True
19497006,15.7950,NaN,15.7950,NaN,NaN,1633732980,2021-10-08 22:43:00+00:00,DENN,True
19497007,15.7950,NaN,15.7950,NaN,NaN,1633733040,2021-10-08 22:44:00+00:00,DENN,True
19497008,15.7950,NaN,15.7950,NaN,NaN,1633733100,2021-10-08 22:45:00+00:00,DENN,True
19497009,15.7201,15.7201,15.7201,15.7201,100.0,1633733160,2021-10-08 22:46:00+00:00,DENN,False

In [24]:
target_stat = pd.DataFrame(columns = ['news_id','ticker' ,'given_target','time0','price0','time1','price1'])

In [25]:
for j in range(0,len(ticker['news_id'])):
    if len(targets[(targets['news_id']==ticker['news_id'][j])&(targets['ticker']==ticker['ticker'][j])])>0:
        time0 = ticker['timestamp'][j]
        name = ticker['ticker'][j]
        times = df[(df['ticker']==name)&(df['time']>=600+time0)]
        min_time = times['time'].min()
        min_times = times[times['time']==min_time].reset_index( drop= True)
        if len(min_times['time'])>0:
            target_stat_ = pd.DataFrame(columns = ['news_id','ticker' ,'given_target','time0','price0','time1','price1'],index = [0])
            target_stat_['ticker'][0] = name
            target_stat_['news_id'][0] = ticker['news_id'][j]
            target_stat_['given_target'][0] = targets[(targets['news_id']==ticker['news_id'][j])&(targets['ticker']==ticker['ticker'][j])]['10_True_0.05'].item()
            target_stat_['time0'][0] = time0
            target_stat_['price0'][0] = ticker['current_price'][j]
            target_stat_['time1'][0] = min_times['time'][0]
            target_stat_['price1'][0] = min_times['close'][0]
            target_s tat = target_stat.append(target_stat_)

In [31]:
target_stat

,news_id,ticker,given_target,time0,price0,time1,price1
0,00091f238ca72bd41d8baf14eb089f51,BBBY,0.0,1631707209,23.83,1631707860,23.8201
1,000cd8ff9081aaf24065fa357b186b02,AFRM,0.0,1632315622,108.11,1632316260,109.3
2,000de19c850fb98b434e5adf871f6618,NATR,0.0,1630504816,17.33,1630505460,17.305
3,00116993bfe88f86d6ed6ebea7223946,AYI,0.0,1633613145,195.55,1633613760,200.23
4,0015169a4c7587eadf11c465340f3b26,AAPL,0.0,1630415773,153.12,1630416420,152.83
...,...,...,...,...,...,...,...
28939,fff419cf7de232571b2cacad6971cc68,MRK,0.0,1633336905,81.4,1633337520,84.3
28940,fff4b8ed7be91a56d2703f25a06bd4f0,JPM,0.0,1631054390,159.21,1631055000,159.4
28941,fff9f65e74a4907c93c23a3c4e823b76,MTTR,0.0,1632238699,21.9734,1632239340,21.982
28942,fff9f65e74a4907c93c23a3c4e823b76,U,0.0,1632238699,131.6,1632239340,131.565
28943,fffbfefba454acb22058dffb2eb8636a,TME,0.0,1632224324,7.42,1632224940,7.53

In [34]:
target_stat['time_diff'] = (target_stat['time1'] -  target_stat['time0'])/60

In [36]:
target_stat['price_growth'] = target_stat['price1']/target_stat['price0']

In [51]:
target_stat['given_target'].sum()

384.0

In [52]:
target_stat['real_target'] = np.nan

In [53]:
for i in range(0,len(target_stat['price_growth'])):
    if abs(target_stat['price_growth'][i]-1)>=0.05:
        target_stat['real_target'][i] = 1
    else:
        target_stat['real_target'][i] = 0

<ipython-input-53-f4a63cf16b9d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target_stat['real_target'][i] = 0
<ipython-input-53-f4a63cf16b9d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target_stat['real_target'][i] = 1

In [54]:
target_stat['real_score'].sum()

2272.0

Количество реальных изменений сильно больше, возможно из-за того, что бралось не ровно 10 минут, а минимальное возможное (доступное в датасете) время после 10 минут

In [55]:
target_stat['overlap'] = np.nan
for i in range(0,len(target_stat['price_growth'])):
    if target_stat['given_target'][i]==target_stat['real_target'][i]:
        target_stat['overlap'][i] = 1
    else:
        target_stat['overlap'][i] = 0

<ipython-input-55-40d844ac3a6c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target_stat['overlap'][i] = 1
<ipython-input-55-40d844ac3a6c>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target_stat['overlap'][i] = 0

In [57]:
target_stat['overlap'].sum()/len(target_stat['overlap'])

0.9283443891652847

In [60]:
target_stat

,news_id,ticker,given_target,time0,price0,time1,price1,time_diff,price_growth,overlap,real_target
0,00091f238ca72bd41d8baf14eb089f51,BBBY,0.0,1631707209,23.83,1631707860,23.8201,10.85,0.999585,1.0,0.0
1,000cd8ff9081aaf24065fa357b186b02,AFRM,0.0,1632315622,108.11,1632316260,109.3,10.633333,1.011007,1.0,0.0
2,000de19c850fb98b434e5adf871f6618,NATR,0.0,1630504816,17.33,1630505460,17.305,10.733333,0.998557,1.0,0.0
3,00116993bfe88f86d6ed6ebea7223946,AYI,0.0,1633613145,195.55,1633613760,200.23,10.25,1.023932,1.0,0.0
4,0015169a4c7587eadf11c465340f3b26,AAPL,0.0,1630415773,153.12,1630416420,152.83,10.783333,0.998106,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
28939,fff419cf7de232571b2cacad6971cc68,MRK,0.0,1633336905,81.4,1633337520,84.3,10.25,1.035627,1.0,0.0
28940,fff4b8ed7be91a56d2703f25a06bd4f0,JPM,0.0,1631054390,159.21,1631055000,159.4,10.166667,1.001193,1.0,0.0
28941,fff9f65e74a4907c93c23a3c4e823b76,MTTR,0.0,1632238699,21.9734,1632239340,21.982,10.683333,1.000391,1.0,0.0
28942,fff9f65e74a4907c93c23a3c4e823b76,U,0.0,1632238699,131.6,1632239340,131.565,10.683333,0.999734,1.0,0.0
28943,fffbfefba454acb22058dffb2eb8636a,TME,0.0,1632224324,7.42,1632224940,7.53,10.266667,1.014825,1.0,0.0